body {
    margin-top: 50px;
}
.jumbotron {
    background: -webkit-linear-gradient(270deg, #70e1f5 10%, #ffd194 90%);
    background: -moz-linear-gradient(270deg, #70e1f5 10%, #ffd194 90%);
    background: -ms-linear-gradient(270deg, #70e1f5 10%, #ffd194 90%);
    background: -o-linear-gradient(270deg, #70e1f5 10%, #ffd194 90%);
    background: linear-gradient(270deg, #70e1f5 10%, #ffd194 90%);
}
.bigger {
    font-size: 4em;
}
#sectionLinks h2 {
    margin-top: 0px;
}
